{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parking Selection</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/front.css' %}">
</head>
<body>

<header></header>

<div class="container">
    <div class="button-container">
        <h1 class="heading1">Select Your Vehicle</h1>
        <div class="btn">
            <a href="{% url 'home' %}?vehicle_type=car" class="round-button">
                <i class="fa-solid fa-motorcycle"></i>
            </a>
            <a href="{% url 'home' %}?vehicle_type=car" class="round-button">
                <i class="fa-solid fa-car"></i>
            </a>
        </div>
    </div>
    <div class="advertisement">
    </div>
</div>

<footer>
    <p><strong>Developed by Department of CS, Nehru Arts and Science College</strong></p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>